@charset "UTF-8";

body {
    height: 97vh;
    background-image: url('imagens/espaco.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#bloco {
    width: 100%;
    height: 100%;
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
}
