body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
    text-align: center;
    font-size: 2.1em;
    font-family: serif;
}

h2 {
    text-align: center;
    font-size: 1.3em;
}

p {
    text-align: justify;
}

.links {
    margin: 0px 50px;
}

.links > p {
    width: 49%;
    display: inline-block;
}

.direita {
    text-align: right;
}

ul {
    text-align: center;
}